body{
  background:#6C7A89;
}
.bod{
  background:#6C7A89;
}
.f {
    margin-top:30px;
}
.sbox {
    background: #2C3E50;
}
.searchb {
    margin-left:40%;
}

.title h1{
  text-align:center;
  color:#fff;
}
.post{
 
}
  
  
  
  
  
  
  
  
  
  
  
  
 }